<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\styles.css" />

    <title>Social Profile Links</title>
  </head>
  <body>
    <h1 style="color: white">Social Profile Links</h1>
    <form action="/register" method="get">
      <input type="submit" value="Register" />
    </form>
    <form action="/login" method="get">
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
