<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\styles.css" />

    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <input type="text" name="id" min="1" placeholder="ID" /> <br />
      <input type="text" name="name" placeholder="Name" /> <br />
      <input type="password" name="pass" placeholder="Password" /> <br />
      <input type="textarea" name="bio" placeholder="Bio" /> <br />
      <input type="text" name="git" placeholder="Git Hub Link" /> <br />
      <input type="text" name="link" placeholder="LinkedIn" /> <br />
      <input type="text" name="insta" placeholder="Instagram" /> <br />
      <input type="text" name="fb" placeholder="FaceBook" /> <br />
      <input type="text" name="tX" placeholder="Twitter" /> <br />
      <input type="email" name="email" placeholder="Email" /> <br />
      <input type="text" name="hack" placeholder="HackerRank" /> <br />
      <input type="text" name="leet" placeholder="Leetcode" /> <br />
      <input type="text" name="chef" placeholder="CodeChef" /> <br />
      <input type="text" name="port" placeholder="Portfolio" /> <br />

      <input type="submit" value="Register" />
    </form>
  </body>
</html>
